* {
    margin: 1px;
    padding: 0;
    font-family: 'Tahoma';
    font-size: 13px;
}

body {
    background: #191717;
    color: darkgray;
    padding: 0 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


header menu {
    display: table;
    position: absolute;
    right: 0;
    text-align: center;
}

menu li {
    display: inline-block;
    font-size: 1.1em;
    background: #2b2b2b;
    text-shadow: 1px 1px 1px #020202;
    padding: 7px;
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: 3px;
    margin-right: 3px;
}

li:hover {
    color: white;
}

.one-picture {
    display: inline-block;
    margin-right: 10px;
}

code {
    background-color: #ffebca;
    font-family: monospace;
}

pre {
    white-space: pre-wrap;
    background: hsl(30, 80%, 90%);
}

#drop {
    border: 2px dashed #dedede;
    height: 100px;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    color: #737171;
    line-height: 4em;
    margin: 15px 0;
}

#result {
    overflow: hidden;
}

.tab {
    width: 30px;
    display: inline-block;
}

.setting {
    border: 6px solid #393838;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 5px;
    padding: 0 10px;
    border-radius: 7px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.settting-one-block {
    border-bottom: 1px solid #393838;
}

.one_input {
    display: inline-block;
    padding: 10px;
}

input[type='text'] {
    margin-top: 6px;
    width: 50px;
    color: #666;
}

button {
   cursor: pointer;
}

.info {
    background: #191717;
    border: 1px solid #211f1f;
    border-radius: 4px;
    margin-top: 10px;
    width: calc(100% - 2 * 10px);
}

#btn_reset,
#create_sprite {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    background: #2b2b2b;
    text-shadow: 1px 1px 1px #020202;
    padding: 7px;
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: 3px;
}

#btn_reset:hover,
#create_sprite:hover {
    color: white;
}

#create_sprite {
    left: 0;
}
#btn_reset {
    left: 60px;
}
.sprite-example {
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.45);
    z-index: 8888;
    overflow: hidden;
}

.sprite-example p {
    position: absolute;
    top: 4px;
    left: 4px;
    color: #e0e0e0;
    text-shadow: 1px 0 5px black, -1px 0 5px black, 0 1px 5px black, 0 -1px 5px black, 0 0 5px black;
    font-size: 1.1em;
}

